.album-image {
    width: 100px;
    height: 100px;
    /* border-radius: 5px; */
}

.movie-image {
    width: 70px;
    height: 100px;
    /* border-radius: 5px; */
}

.saved-albums {
    list-style: decimal;
}

.place {
    padding-top: 50px;
}

.card-title {
    padding-left: 20px;
}

button {
    background-color: white;
    border: 0;
}

button:focus {
    outline: none;
}

.alertMessage {
    position: relative;
}