body {
    /* background-image: url(https://images.pexels.com/photos/1339845/pexels-photo-1339845.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); */
    /* background-repeat: repeat; */
    background-image: linear-gradient(to right, rgba(0, 17, 252, 0.849), rgba(201, 24, 255, 0.733));
    /* background-size: 10%; */
    font-family: 'Righteous', cursive!important;
    color: white!important;
}

h5 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 150px!important;
}

.header {
    font-size: 300px;
}

.link {
    color:rgba(255, 167, 243, 0.849);
}

.shareable {
    margin: 10px;
}

.description {
    color: white;
}